.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 1vw;
    height: 50px;
    width: 100vw;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .navBarLogo {
    width: 180px;
    margin-left: 80px;
    margin-top: 5px;
  }
  
  .authLogo {
    width: 120px;
    margin-bottom: 0px;
  }
  
  .profileButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 160px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .logoutButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    width: 100vw;
    background-color: white;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 10px; 
    background-color: white; 
  }
  
  .centeredBox {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
    margin: 15vh auto 40px auto;
    width: auto;
    max-width: 650px;
  }

  .leftBox {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1;
    margin: 15vh auto 40px auto;
    width: auto;
    max-width: 650px;
  }

  .dividerBox {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    margin: 1vh auto 40px auto;
    width: 100%; 
    max-width: 650px;
    box-sizing: border-box;
    
  }
  
  .heading {
    color: #002f6c;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;
  }
  
  .headingCI {
    color: #002f6c;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
  }
  
  .subheading {
    color: #002f6c;
    margin: 10px 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
  } 

  .subheadingLeft {
    color: #002f6c;
    margin: 20px 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    justify-content: left;
  } 
  
  .separatorLine {
    width: 100%;
    border: none;
    border-top: 2px solid #d4d4d4;
    margin: 15px auto;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .signUpButton {
    padding: 1px;
    background-color: #ffffff;
    color: #002f6c;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .signUpButton:hover {
    font-weight: 700;
  }
  
  .gridWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-right: auto;
    padding-right: 20px;
  }
  
  .cardTitle {
    font-size: 18px;
    color: #002f6c;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 5px;
  }
  
  .cardDescription {
    font-size: 14px;
    color: #555;
  }
  
  .icon {
    font-size: 24px;
    color: #00509e;
    margin-right: 15px;
  }
  
  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  .subheadingIUP {
    color: #002f6c;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .tagsLeft {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    margin-bottom: 40px;
  }
  
  .tag {
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #C6DFF0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .tag.selected {
    border: 2px solid #00509e;
    background-color: #002f6c;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 80, 158, 0.3);
  }
  
  .dropdown {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
  }
  
  .continueButton {
    padding: 12px;
    background-color: #002f6c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .continueButton.hovered {
    background-color: #00509e;
  }

  .inputGroup {
    margin-bottom: 0px;
    width: 100%;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #002f6c;
  }
  
  .inputGroup .input {
    width: 97%;
    display: block;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
  }
  
  .inputGroup .input:focus {
    border-color: #00509e;
  }
  
  .timeSelect {
    display: flex;
    gap: 10px;
    width: 70%;
  }
  
.eventBox {
  position: relative;
  background-color: #e0e7f1;
  padding: 0 30px; 
  padding-bottom: 20px; 
  border-radius: 12px;
  margin-bottom: 20px; 
  border: 1px solid #d3d9e3; 
}

.imagePreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageContainer {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.removeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none; 
  border: none; 
  color: white; 
  font-size: 18px;
  font-weight: 600;
  cursor: pointer; 
}

.inputFile {
  display: none; 
}

.addImageButton label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}