.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 1vw;
    height: 50px;
    width: 100vw;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin-right: 100px;
  }
  
  .navBarLogo {
    width: 180px;
    margin-left: 80px;
    margin-top: 5px;
  }
  
  .authLogo {
    width: 120px;
    margin-bottom: 0px;
  }
  
  .profileButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .logoutButton {
    display: flex;
    gap: 8px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #00509e;
    border: 1px solid #dfdfdf;
  }

  .centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    width: 100vw;
    background-color: white;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 20px; 
    background-color: white; 
    margin-right: 60px; 
  }
  
  .centeredBox {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
    margin: 15vh auto 40px auto;
    width: auto;
    max-width: 650px;
  }

  .leftBox {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 1;
    margin: 15vh auto 40px auto;
    width: auto;
    max-width: 650px;
  }

  .dividerBox {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    margin: 1vh auto 40px auto;
    width: 100%; 
    max-width: 650px;
    box-sizing: border-box;
    
  }
  
  .heading {
    color: #002f6c;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;
  }
  
  .headingCI {
    color: #002f6c;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
  }
  
  .subheading {
    color: #002f6c;
    margin: 10px 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
  } 

  .subheadingLeft {
    color: #002f6c;
    margin: 20px 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    justify-content: left;
  } 
  
  .separatorLine {
    width: 100%;
    border: none;
    border-top: 2px solid #d4d4d4;
    margin: 15px auto;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .signUpButton {
    padding: 1px;
    background-color: #ffffff;
    color: #002f6c;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .signUpButton:hover {
    font-weight: 700;
  }
  
  .gridWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-right: auto;
    padding-right: 20px;
  }
  
  .cardTitle {
    font-size: 18px;
    color: #002f6c;
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 5px;
  }
  
  .cardDescription {
    font-size: 14px;
    color: #555;
  }
  
  .icon {
    font-size: 24px;
    color: #00509e;
    margin-right: 15px;
  }
  
  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .errorMessageSB {
    color: red;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .subheadingIUP {
    color: #002f6c;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .tagsLeft {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    margin-bottom: 40px;
  }
  
  .tag {
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #C6DFF0;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .tag.selected {
    border: 2px solid #00509e;
    background-color: #002f6c;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 80, 158, 0.3);
  }
  
  .dropdown {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
  }
  
  .continueButton {
    padding: 12px;
    margin-top: 20px;
    background-color: #002f6c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Red Hat Display', sans-serif;
  }

  .continueButton {
    padding: 12px;
    background-color: #002f6c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  .continueButton.hovered {
    background-color: #00509e;
  }

  .inputGroup {
    margin-bottom: 0px;
    width: 100%;
  }
   
  .inputGroupNav {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #002f6c;
    text-align: left; 
    width: 100%; 
  }
  
  .inputGroup .input {
    width: 97%;
    display: block;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
  }
  
  .inputGroup .input:focus {
    border-color: #00509e;
  }
  
  .timeSelect {
    display: flex;
    gap: 10px;
    width: 70%;
  }
  
.eventBox {
  position: relative;
  background-color: #e0e7f1;
  padding: 0px 30px; 
  padding-bottom: 20px; 
  border-radius: 12px;
  margin-bottom: 20px; 
  border: 1px solid #d3d9e3; 
}

.imagePreview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageContainer {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.removeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none; 
  border: none; 
  color: white; 
  font-size: 18px;
  font-weight: 600;
  cursor: pointer; 
}

.inputFile {
  display: none; 
}

.addImageButton label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continueButton.hovered {
  background-color: #00509e;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 1px solid #dedede;
  padding: 5px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.inputFieldContainer {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.inputLabel {
  font-size: 12px;
  color: #2a2a2a;
  margin-top: 5px;
  padding-left: 8px;
  font-weight: 700;
}

.inputField {
  padding: 8px;
  border-radius: 14px;
  border: 1px solid #ffffff;
  font-size: 12px;
  min-width: 150px;
}

.searchButton {
  background-color: #00509e;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Tag Filters */
.tagFiltersContainer {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  max-width: 60%;
}

.arrowButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #00509e;
  cursor: pointer;
}

.tagContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 10px;
  gap: 15px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.tagItem {
  text-align: center;
  cursor: pointer;
}

.tagIcon {
  font-size: 24px;
  margin-bottom: 5px;
  color: #00509e;
}

.tagLabel {
  font-size: 14px;
  color: #333;
}

/* Country and City Filters */
.filtersContainer {
  display: none; /* Removed from original location */
}

/* Search Results */
.searchResultsContainer {
  margin-top: 5%;
  padding: 20px;
}

.resultCard {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.resultCardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.resultCardContent {
  padding: 15px;
  text-align: left;
}

.resultCardTitle {
  color: #00509e;
  font-size: 18px;
  margin-bottom: 5px;
}

.resultCardSubtitle {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.resultCardDescription {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.resultCardTag {
  padding: 5px 10px;
  background-color: #E1EFFF;
  border-radius: 50px;
  font-size: 12px;
  color: #00509e;
}

.viewDetailsButton {
  padding: 10px 20px;
  background-color: #00509e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

.dropdownMenu {
  position: absolute;
  top: 100%; 
  right: 4%;
  background-color: #00509e;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 200px;
  z-index: 3;
}

.dropdownMenu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  text-align: left;
}

.dropdownMenu li {
  padding: 10px 20px;
  cursor: pointer;
}

.pageContainer{
  padding-top: 100px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: calc(100vh - 60px);
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

.tabNavigation {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.tabNavigation button {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: none;
  color: #00509e;
  cursor: pointer;
  padding-bottom: 5px;
}

.tabNavigation .activeTab {
  border-bottom: 3px solid #00509e;
}

.itinerariesList,
.tripsList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.noItinerariesMessage,
.noTripsMessage {
  background-color: #f0f8ff;
  padding: 15px 25px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #00509e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.createItineraryButton {
  background-color: #00509e;
  color: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}
.resultsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.resultCard {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.resultCardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.resultCardContent {
  padding: 15px;
  text-align: left;
}

.resultTags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.resultCardTag {
  padding: 5px 10px;
  background-color: #E1EFFF;
  border-radius: 50px;
  font-size: 12px;
  color: #00509e;
  margin-top: 5px;
}

.errorMessagesContainer {
  margin-top: 0px;
  text-align: center;
}

.noResultsMessage {
  text-align: center;
  color: #666;
  font-size: 18px;
  margin-top: 20px;
}

.cardLocation {
  color: #000000;
  margin: 0 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
} 

.cardTitle {
  color: #000000;
  margin-top: 10px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
} 

.cardDescription {
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
} 

